#pins_create
  .row
    .pins-create_background-image
      .col-md-6.col-md-offset-3
        .panel.panel-default
          .panel-heading
            %h1 YOU投稿しちゃいなよ
          .panel-body
            = render 'form'
