#user_edit
  .container
    .row-left
      .row-left_edit-menu
        %p アカウント情報
        %p お知らせ
        %p ホームフィード
        %p SNSアカウント
        %p セキュリティ
        %p アプリ

    .row-right
      .row-right_body
        .account-information
          %p アカウント情報
          .mail
            %p メールアドレス
            %p aaa.com
          .password
            %p パスワード
            %p パスワードを変更
          .language
            %p 言語
            %p 日本語
          .country-of-residence
            %p 日本(日本)
          .gender
            %p 男
            %p 女
            %p カスタム
          .privacy
            %p 検索プライバシー
            %p 検索エンジン（例：Google）でプロフィールを非表示にします。詳細
          .Personalized
            %p パーソナライズ
            %p ユーザーがアクセスするサイトを元に、表示するおすすめや広告を改善しています。詳細
            %p Pinterest のパートナーからの利用情報を元に、ユーザーに表示するおすすめや広告を改善しています。詳細
          .search-history
            %p 検索履歴をクリア
            %p 検索したキーワードを検索履歴から削除します。
          .account
            %p アカウント
            %p アカウントを解除

        .profile
          .name
            %p プロフィール
            %p 名前
          .image
          .user-name
          .self-introduction
          .housing
          .web-site

        .home-feed
          .recommended-pin

        .sns
          .elaborate
        .security
        .app
